# DAY 2 Assignment 1

# Question no 1

 String manupulation 5 differnent functions in string manupluation

In [3]:
name = "Ravi Tiwari"                                               #adding the data to the variable

In [4]:
type(name)                                                         #just checking the type of the string

str

##  capitalization

In [5]:
name.capitalize()                     # this will capitalize the only 1st letter of the string
                                      #"Ravi Tiwari" there is a name and surname but i put whole name in a single string
                                      # that's why only 1ts letter of the string is capital

'Ravi tiwari'

## endswith

In [6]:
 name.endswith("a")                     # answer is false as the string is "Ravi Tiwari" which ends with an i and not with an a

False

In [7]:
name.endswith("i")                     # answer is true as the string is "Ravi Tiwari" which ends with an i

True

## index

In [8]:
name.index("i")                        #this counts the number of i present in the string name = "Ravi Tiwari"

3

## replace

In [9]:
name.replace("i","k")                   #this is as simple as its name is it just replace i with k

'Ravk Tkwark'

## is

In [10]:
name.isalpha()                           #isalpha checks the string for all alphabetic (a-z,A-Z)
                                         #but there is a space between "Ravi Tiwari" which is not alpha

False

In [11]:
name.isascii()                           #checking for the presence of ASCII characters (blank space included)

True